<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Application properties</h4>
      </div>
      <div class="modal-body">
      	<div class="row" data-ng-repeat="item in configuration">
      		 <div class="col-md-4">{{item.key}}</div>
      		 <div class="col-md-8">
      		 	<input type="text" data-ng-model="item.value"/>
      		 </div>
      	</div>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="save(true)" class="btn btn-primary" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>