<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Application properties</h4>
      </div>
      <div class="modal-body">
      	<div class="row" data-ng-repeat="item in profiles">
      		<button data-dismiss="modal" ng-click="close(item)">{{item}}</button>
      		<button ng-click="delete(item)">x</button>
      	</div>
      </div>
    </div>
  </div>
</div>